.Pokecard{
    text-align: center;
    width: 300px;
    margin: 1rem;
    padding: 10px;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
    background-color: white;
    border-radius: 3px;
}

.Pokecard-name{
    color:darkblue;
}